body{
  margin: 0;
}
.first
{
  background-color: red;
  height: 200px;
  width:200px;

  position: absolute;
  left: 400px;
  top: 400px;
}
.second
{
  background-color:blue;
  height: 200px;
  width: 200px;

  position: absolute;
  left: 200px;
  top:200px;
}
.third
{
  background-color: yellow;
  height: 200px;
  width: 200px;

  position: absolute;
  left: 0px;
  top: 0px;
}
